<header>
    <div class="container">
        <nav>
            <div class="nav">
                <input id="menu-toggle" type="checkbox" />
    <label class="menu-btn" for="menu-toggle">
      <span></span>
    </label>

                <ul class="menubox">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/reg">Registration</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>

                <img src="/img/logo.jpg" alt="logo" class="logo">
            </div>
        </nav>
    </div>
</header>