<% layout('layouts/main')-%>

    <section class="main">
        <div class="container">
            <p>Это простой проект, имеющий безграничные возможности по расширению, создающийся чисто для улучшения
                собственных навыков, расширению кругозора и исследованию возможностей, предоставляющих мне технологии
                Node.js, Express, MongoDB.</p>
            <p>Дальше планируется создание чата с возможностью обмена медиа, расширение
                функционала to-do, с наличием ролей и т.д. Конечной цели проекта нет, как и конечного видения проекта.
                Пока планируется вывод to-do дел для юзеров индивидуально, чат с медиа, дальше есть желание разобраться с
                налаживанием и работой аудио/видео общения в режиме реального времени (функция звонков), добавления
                ролей, опция друзей, лента, виджет погоды.</p>
        </div>
    </section>