<% layout('layouts/main') -%>

    <section class="main">
        <div class="container">
            <form method="post" action="/" class="to-do-form" id="to-do-form">
                <textarea name="to-do" id="to-do" cols="30" rows="10" class="to__do"
                    placeholder="Write what do you want to do"></textarea>
                <button type="submit" class="to-do-but">Do</button>
            </form>
        </div>
    </section>