<% layout('layouts/main') -%>

    <section class="main">
        <div class="container">
            <form method="post" action="/login" class="to-do-form" id="to-do-form">
                <input type="email" name="email" placeholder="Enter your e-mail" class = "to-do-input" required>
                <input type="password" name ="password" placeholder="Enter your password" class = "to-do-input" required>
                <button type="submit" class="to-do-but">Authorization</button>
            </form>
        </div>
    </section>