<% layout('layouts/main') -%>

    <section class="main">
        <div class="container">
            <form method="post" action="/reg" class="to-do-form" id="to-do-form">
                <input type="text" name="name">
                <input type="text" name="email">
                <button type="submit" class="to-do-but">Do</button>
            </form>
        </div>
    </section>